/*------------------------GENERAL STYLES------------------------*/
.cv {
    width: 1150px;
    background-color: #fff;
    margin: 50px 100px 20px 100px;
    padding: 20px 0px 20px 0px;
}
body {
    background-color: #4F4F4F;
    margin: 0;
    padding: 0;
}
.wnumber {
    width: 25px;
}
.pl1 {
    padding-left: 10px;
}
.pl2 {
    padding-left: 20px;
}
.pl3 {
    padding-left: 30px;
}
.pl4 {
    padding-left: 50px;
}
.pb1 {
    padding-bottom: 10px;
}
.pr1 {
    padding-right: 15px;
}
.pr3 {
    padding-right: 70px;
}
.pt1 {
    padding-top: 2px;
}
.pt2 {
    padding-top: 5px;
}
.pt3 {
    padding-top: 15px;
}
.p1 {
    padding: 4px;
}
.p2 {
    padding: 6px;
}
.p3 {
    padding: 10px;
}
.p4 {
    padding: 5px;
}
.p5 {
    padding: 12px;
}
.text-center {
    text-align: center;
}
.m-auto {
    margin: 0 auto;
}
.my2{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mb1 {
    margin-bottom: 10px;
}
.m1 {
    margin: 2px;
}
.mt1 {
    margin-top: 15px;
}
.m0 {
    margin: 0;
}
.display-block {
    display: block;
}
.display-flex {
    display: flex;
}
.border {
    border: solid #000 1px;
}
.shadow {
    -webkit-box-shadow: 10px 10px 0px -3px rgba(0,0,0,1);
    -moz-box-shadow: 10px 10px 0px -3px rgba(0,0,0,1);
    box-shadow: 10px 10px 0px -3px rgba(0,0,0,1);
}

.transparent-input {
    border: none;
    background-color: #d4f0f2;
}
.bottom-line-input {
    border: none;
    border-bottom: 1px solid #000;
    background-color: #d4f0f2;
}
.ui-widget input {
    font-size: 14px;
}
.border-rigth {
    border-right: 1px solid #000;
}
.border-left {
    border-left: 1px solid #000;
}
.border-top {
    border-top: 1px solid #000;
}
.b-radius-tl {
    border-top-left-radius: 20px;
}
.b-radius-tr {
    border-top-right-radius: 20px;
}
.b-radius-bl {
    border-bottom-left-radius: 20px;
}
.b-radius-br {
    border-bottom-right-radius: 20px;
}
.cell-stage {
    padding: 5px 10px 5px 10px;
}
/*-----------------------CONTENT HEADER-----------------------*/
.content-header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 100px 20px 100px;
    padding: 15px;
    border-radius: 20px;
    border: solid #000 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo img{
    width: 120px;
}
.logo {
    text-align: center;
}
.titles {
    text-align: center;
}
.receiving-entity {
    padding-top: 10px;
    margin-left: 80px;
}
.receiving-entity input{
    height: 30px;
    width: 230px;
}
#date {
    margin-top: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}
/*---------------------------------------------*/
#accordion {
    margin-top: 60px;
    padding: 15px;
}
article {
    margin: 0px 90px 0px 90px;
}
.ui-accordion .ui-accordion-header {
    display: flex;
}
.ui-widget-content {
    color: #000;
}
.article-header {
    margin-top: 70px;
    margin-bottom: 30px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.article-header h3{
    background-color: #000;
    color: #fff;
    border-radius: 35px;
    width: 30%;
    margin: 0;
}
.article-header span {
    background-color: #000;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 30px;
    height: 30px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.article-header hr {
    display: flex;
    height: 3px;
    width: 1%;
    margin: 12px 0px 0px 0px;
    background-color: #007fa5;
}
.content-data {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #50c2ca3f;
}
.header {
    background-color: #0097c54f;
}

/*-----------------------PERSONAL DATA SECTION1 -----------*/
.section1 {
    display: grid;
    grid-column: 1/4;
}
.section1 > .row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}
.section1 > .row2 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}
.section1 .row2 >.col-1 {
    grid-column: 1/5;
}
.section1 .row2 > .col-2 {
    grid-column: 5/6;
}
.section1 .row2 > .col-3 {
    grid-column: 6/9;
}
.section1 > .row3 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.col-all {
    grid-column: 1/8;
}
.section1 .row3 > .col-1 {
    grid-column: 1/3;
}
.section1 .row3 > .col-2 {
    grid-column: 3/5;
}
.section1 .row3 > .col-3 {
    grid-column: 5/9;
}
.section1 .row3 > .col-4 {
    grid-column: 9/10;
}
/*-----------------------PERSONAL DATA SECTION2 -----------*/
.section2 {
    grid-column: 1/3;
}


/*--------------------ACADEMIC FORMATION--------------------*/
.formation-section1, .formation-section2 {
    grid-column: 1/4;
}
.formation-section1 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.formation-section1 > .row1 {
    grid-column: 1/11;
}
.formation-section1 > .row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2/10;
    border: 1px solid #000;
    border-radius: 20px;
}
.stages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.primary {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.secondary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.middle {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.formation-section2  .row1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.formation-section2  .row2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.graduate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.formation-section2  .row2  .col-1 {
    grid-column: 1/2;
}
.formation-section2  .row2  .col-2 {
    grid-column: 2/3;
}
.formation-section2  .row2  .col-3 {
    grid-column: 3/4;
}
.formation-section2  .row2  .col-4 {
    grid-column: 4/9;
}
.formation-section2  .row2  .col-5 {
    grid-column: 9/11;
}
.formation-section2  .row2  .col-6 {
    grid-column: 11/13;
}
.small-input {
    width: 90%;
}
.small-input-date {
    width: 90%;
    height: 16px;
}
.bold {
    font-weight: bold;
}
.large-input {
    width: 95%;
}
.formation-section3 {
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
.formation-section3 .row1 {
    grid-column: 1/12;
}
.formation-section3 .row2 {
    grid-column: 3/9;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    border-radius: 20px;
}
.formation-section3 .row2 .col-1 {
    grid-column: 1/6;
}
.formation-section3 .row2 .col-2 {
    grid-column: 6/8;
}
.formation-section3 .row2 .col-3 {
    grid-column: 8/10;
}
.formation-section3 .row2 .col-4 {
    grid-column: 10/12;
}
.formation-section3 .row2 .col-2 .speaking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.formation-section3 .row2 .col-3 .reading {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.formation-section3 .row2 .col-4 .writing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}